{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="container py-5">
    <h1 class="my-4 text-center text-primary">Today's Appointments</h1>
    <a href="{% url 'appointments:create' %}" class="btn btn-primary">Create New Appointment</a>
    {% if today_appointments %}
      <table class="table table-hover table-dark rounded-lg">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in today_appointments %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ appointment.name }}</td>
              <td>{{ appointment.time }}</td>
              <td><a href="{% url 'appointments:detail' appointment.id %}" class="btn btn-info btn-sm">View details</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">There are no appointments today.</h4>
      </div>
    {% endif %}
  </div>
{% endblock %}
